*{
    --text-color : #434343;
    --background-color:transparent;
}
h1{
    padding-top: 2%;
    text-align: center;
    font-size: 7vw;
}
.fancy {
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
                url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2345832F' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23719A50'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%239DB171'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%2345832F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 20% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
h2{
    padding-top: 2%;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
                url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='green' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='olive'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='darkgreen'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 30% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
h3{
    padding-top: 1.5%;
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
                url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='green' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='olive'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='darkgreen'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 30% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
.note {

}
.a{

    all:unset;

    color: white;
    transition: transform .3s ease-out;
    justify-items: center;
    scale: 100%;
    text-align: center;
    /*background-color: rgba(17, 58, 12, 0.11);*/

    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 5vh;

    z-index: 100;

    margin-top: 10%;

    backdrop-filter: blur(2px);
}

.b{
    padding: 2vw;
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.3); /* Ombre noire */
}
a:hover{

    transition: 0.3s;
    scale: 110%;
}
nav {
position: absolute;
    display: flex;
    flex-grow: 10;
    padding: 0;
}


@media only screen and (hover: none) and (pointer: coarse){

    nav {
        position: absolute;
        top: 0;
        display: block;
        width: 80%;
    }
}
.nav-retour{
    left: 0;
}
.retour{
    transition: 0.3s;
    all:unset;
    font-size: min(4vh,4vw);
    color: #ffffff;
    transition: transform .3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    justify-items: center;
    width: 7.5vh;
    height: 7.5vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3vh;
    cursor: pointer;
    background-color: darkolivegreen;

}
.retour:hover{
    transition: 0.3s;
    width: 8vh;
    height: 8vh;
}
.a0{


}
.a1{

}
.a2{


}
.a3{

}


.border-left{
    border-bottom-left-radius: 10px;

}
.border-right{
    border-bottom-right-radius: 10px;

}
.abs{
    position: relative;
}
.img-size{
    width: 18vw;
    
}
.left:hover{
    transition: 1s;
    transform: rotate(30deg) translateX(-3vw) translateY(10vh);
}
.left{
    transition: 1s;
    left: 0;
}
.right:hover{
    transition: 1s;
    transform: rotate(-30deg) translateX(3vw) translateY(10vh);
}
.right{
    transition: 1s;
    right: 0;
}
.text-container{
    width: 100vw;
    display: flex;
    text-align: justify;
}

video{
    overflow: clip;
    height: 100vh; /* Laisse la hauteur s'ajuster */
}
.transition{
    width: 100vw;
    height: 1vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background:  linear-gradient(rgba(230, 100, 101, 0), wheat);;
}
.video-container{
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100vw;
    height: 100vh;

    z-index: -100;
}
iframe :hover {

}

span{
    font-size: 2em;
}
li{
    list-style-type: none;
    text-align: left;
    margin-top: 2%;
}
.big{
    font-size: 4em;
}
audio {
    border:5px solid darkolivegreen;
    border-radius: 50px;
    margin: auto;
    width: 90%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
header{
    font-size: 3vh;
}
body{
    margin: 0;
    /*font-family: "Free Avant Garde", sans-serif;*/
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: 500;
    transition: background-position 1s ease-out;
    background-color: wheat;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x:hidden;
}
@media only screen and (hover: none) and (pointer: coarse) {
    body{
        font-size: 2em;
    }
    header{
        font-size: 3vh;
    }
}
.down-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    cursor: pointer;
    height: 10vh;
    position: absolute;

    bottom: 0;
    transition: transform .3s ease-out;
    color: rgb(34, 34, 34);

    align-items: center;
}

.down:hover{
    transform: translate(0, 5px);
}
@keyframes blink-animation {
    0% {
        translate: 0 0px;
    }
    100% {
        translate: 0 5px;
    }

}


g{
    border-radius: 3px;
}
header{

    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    justify-content: center;
    display: flex;
    align-items: center;

}
p{
    justify-content: center;
    text-justify: auto;
    /*padding: 0 15%;*/

    margin: auto;
    font-size: 120%;
}
.btn{

    margin: auto;
    margin-top: 2%;
    background-color: darkolivegreen;
    border-radius: 15px;
    padding: 2%;
    color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: #2f3a1a 0px 3px;
}
.btn:hover{

    background: #46680e;
}
.grid {

}
footer{
    background-color: #719A50;
    margin: 0;
    padding: 1% 10%;

}

.iframe-container{
    text-align: center;

}
iframe{
    border-radius: 2vh;
    text-align: center;
    border: darkolivegreen 5px solid;
    align-content: center;
    width: 95vw;
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}