

a{
    all:unset;
    font-size: 200%;
    color: white;
    transition: transform .3s ease-out;
    justify-items: center;
    width: 15vh;
    height: 15vh;
    text-align: center;
    /*background-color: rgba(17, 58, 12, 0.11);*/

    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    scale: 100%;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombre noire */
    z-index: 100;
}

.b0{
    transform: rotate(-45deg);

}
.b1{
    transform: rotate(45deg);

}
.b2{
    transform: rotate(-45deg);

}
.b3{
    transform: rotate(45deg);

}
.a0{
    border-bottom-right-radius: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: antiquewhite 5px solid;
    border-right: antiquewhite 5px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.retour{
    all:unset;
    font-size: min(4vh,4vw);
    color: #ffffff;
    transition: transform .3s ease-out;
    justify-items: center;
    width: 7.5vh;
    height: 7.5vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    background-color: #1d3e11;

}
.a1{
    border-bottom-left-radius: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: antiquewhite 5px solid;
    border-left: antiquewhite 5px solid;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.7);
}
.a2{

    border-top-left-radius: 100vh;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: antiquewhite 5px solid;
    border-left: antiquewhite 5px solid;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.7);
}
.a3{

    border-top-right-radius: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: antiquewhite 5px solid;
    border-right: antiquewhite 5px solid;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.7);
}
a:hover{
    scale: 120%;

    transition: 0.3s;
}

.border-left{
    border-bottom-left-radius: 10px;

}
.border-right{
    border-bottom-right-radius: 10px;

}
.abs{
    position: absolute;
}
.img-size{
    width: 20%;
    height: 20%;
}
.left{
    left: 0;
}
.right{
    scale: -1 1;
    right: 0;
}
.t-1{
    top: 10%;
}
.t-3{
    top: 30%;
}
.t-5{
    top: 50%;
}
.t-7{
    top: 70%;
}
.t-9{
    top: 90%;
}
.t-10{
    top: 110%;
}
.t-30{
    top: 130%;
}
.t-50{
    top: 150%;
}
.t-70{
    top: 170%;
}
.t-90{
    top: 190%;
}
.t-110{
    top: 210%;
}
.t-130{
    top: 230%;
}
.t-150{
    top: 250%;
}
.t-170{
    top: 270%;
}
.t-190{
    top: 290%;
}
.t-210{
    top: 310%;
}
video{
    overflow: clip;
    height: 100vh; /* Laisse la hauteur s'ajuster */
}
.video-container{
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100vw;
    height: 100vh;
    z-index: -100;
}
iframe :hover {

}

span{
    font-size: 2em;
}
li{
    list-style-type: none;
    text-align: left;
}
audio {
    border:20px solid sandybrown;
    border-radius: 50px;
    margin: auto;
    width: 50%;
}


body{
    margin: 0;
    font-family: "Free Avant Garde","AlArabiya";
    transition: background-position 1s ease-out;
    background-color: antiquewhite;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x:hidden;
    font-size: min(2vh,4vw);
}

.down-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    cursor: pointer;
    height: 10vh;
    position: absolute;

    bottom: 0;
    transition: transform .3s ease-out;
    color: rgb(34, 34, 34);

    align-items: center;
}

.down:hover{
    transform: translate(0, 5px);
}
@keyframes blink-animation {
    0% {
        translate: 0 0px;
    }
    100% {
        translate: 0 5px;
    }

}


g{
    border-radius: 3px;
}
header{

    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 56px;
}
p{
    justify-content: center;
    text-justify: auto;
    padding: 0 15%;
}
footer{
    background-color: bisque;
    margin: 0;
    padding: 1% 10%;

}

.iframe-container{
    text-align: center;
    background-color: white;
}
iframe{

    text-align: center;
    width: 98%;
    align-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}