#nav{
    display: inline-flex;
    background-color: rgba(40, 44, 28, 0.72);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    position: absolute;
    top: 0;

}
a{
    all:unset;
    font-size: min(4vh,4vw);
    color: #ffffff;
    transition: transform .3s ease-out;
    justify-items: center;
    width: 15vh;
    height: 15vh;
    text-align: center;
    background-color: #113a0c;
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    scale: 100%;
}

.b0{
    transform: rotate(-45deg);
}
.b1{
    transform: rotate(45deg);
}
.b2{
    transform: rotate(-45deg);
}
.b3{
    transform: rotate(45deg);
}
.a0{
    border-bottom-right-radius: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.retour{
    all:unset;
    font-size: min(4vh,4vw);
    color: #ffffff;
    transition: transform .3s ease-out;
    justify-items: center;
    width: 7.5vh;
    height: 7.5vh;
    text-align: center;
    background-color: #113a0c;
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3vh;
    position: absolute;
    top: 0;
    left: 0;
}
.a1{
    border-bottom-left-radius: 100vh;
    position: absolute;
    top: 0;
    right: 0;

}
.a2{

    border-top-left-radius: 100vh;
    position: absolute;
    bottom: 0;
    right: 0;

}
.a3{

    border-top-right-radius: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;

}
a:hover{
    scale: 120%;
    transition: 0.3s;
}
@keyframes blink-animation {
    0% {
        scale: 100%;
    }
    100% {
        scale: 120%;
    }

}
.border-left{
    border-bottom-left-radius: 10px;

}
.border-right{
    border-bottom-right-radius: 10px;

}

video{

    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    background-color: black;
}
iframe :hover {

}

span{
    font-size: 2em;
}
li{
    list-style-type: none;
    text-align: left;
}



body{
    margin: 0;
    font-family: "Free Avant Garde";
    transition: background-position 1s ease-out;
    background-color: antiquewhite;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x:hidden;
    font-size: min(2vh,4vw);
}

.down-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    height: 10vh;
    position: absolute;

    bottom: 0;
    transition: transform .3s ease-out;
    color: rgb(34, 34, 34);

    align-items: center;
}

.down:hover{
    transform: translate(0, 5px);
}
@keyframes blink-animation {
    0% {
        translate: 0 0px;
    }
    100% {
        translate: 0 5px;
    }

}


g{
    border-radius: 3px;
}
header{

    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 56px;
}
p{
    justify-content: center;
    text-justify: auto;
    padding: 0 15%;
}
footer{
    background-color: bisque;
    margin: 0;
    padding: 1% 10%;

}

audio{

    width: 20em;
}
.iframe-container{
    text-align: center;
    background-color: white;
}
iframe{

    text-align: center;
    width: 98%;
    align-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}